@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
    --inter-font-family--: 'Inter', sans-serif;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-fold {
    width: 100%;
    height: 880px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
}

.left-part {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
}

.left-part-header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-part-header ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-family: var(--inter-font-family--);
    font-weight: 700;
    font-size: 21px;
    color: rgba(255, 0, 0, 1);
    text-transform: uppercase;
}

.left-part-header ul li:hover {
    cursor: pointer;
    opacity: 0.6;
}

.left-part-header ul li:focus {
    color: rgba(9, 9, 9, 1);
}

.left-part-main-section {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-part-main-section-text {
    width: 60%;
    height: auto;
    padding-left: 40px;
}

.left-part-main-section-text h1 {
    font-size: 55px;
    font-family: var(--inter-font-family--);
    color: rgba(70, 68, 68, 1);
    text-transform: uppercase;
    padding-bottom: 50px;
}

.left-part-main-section-text p {
    font-size: 19px;
    font-family: var(--inter-font-family--);
    color: rgba(190, 190, 190, 1);
    padding-bottom: 50px;
}

.left-part-main-section-text button {
    width: 204px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 3, 3, 1);
    font-size: 20px;
    font-family: var(--inter-font-family--);
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.left-part-main-section-text button:hover {
    opacity: 0.6;
}

.hamburger-img {
    position: absolute;
    padding-left: 33%;
    bottom: 100px;
}

.hamburger-img img {
    width: 500px;
    height: 500px;

}

.hamburger-price {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-price h1 {
    font-size: 50px;
    color: rgba(255, 0, 0, 1);
    font-family: var(--inter-font-family--);
}

.right-part {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 1);
    position: relative;
}

.right-part-header {
    height: 120px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    margin: 0 80px;
}

.right-part-header p {
    font-size: 26px;
    font-family: var(--inter-font-family--);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.shopping-logo {
    background-image: url(/assests/Rectangle\ 2.png);
    width: 61px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-logo:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}

.right-part-main-section {
    display: flex;
    padding-top: 250px;
}

.right-part-main-section-text {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}


.right-part-main-section-text h2 {
    font-size: 35px;
    color: rgba(250, 255, 0, 1);
    font-family: var(--inter-font-family--);
    text-transform: capitalize;
    margin-left: 220px;
}

.right-part-main-section-text p {
    font-size: 20px;
    font-family: var(--inter-font-family--);
    color: rgba(255, 255, 255, 1);
}

.text-burger h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 180px;
    font-family: var(--inter-font-family--);
    transform: rotate(270deg);
    opacity: 15%;
}

.text-burger {
    margin-top: 300px;
    width: 10%;
}

.right-part-main-section-text-wrapper {
    width: 230px;
    margin-left: 220px;
}


/* ------------------------------menu-section------------------------------ */

.menu-section {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    padding-top: 80px;
}

.menu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-text h5 {
    font-family: 'Indie Flower', cursive;
    font-size: 38px;
    color: rgba(255, 0, 0, 1);
    text-transform: capitalize;
}

.menu-text h1 {
    font-size: 80px;
    font-family: var(--inter-font-family--);
    color: rgba(70, 68, 68, 1);
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 80px;
    padding-top: 50px;
}

.menu-wrapper {
    width: 350px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 13px, 13px, 30px, 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 35px;
}

.menu-wrapper:nth-child(3) {
    margin-right: 90px;
}

.menu-wrapper h1 {
    color: rgba(255, 0, 0, 1);
    font-size: 40px;
    font-weight: 800;
    font-family: var(--inter-font-family--);
    margin-bottom: 25px;
}

.menu-wrapper p {
    color: rgba(152, 152, 152, 1);
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}

.menu-shopping-logo {
    background-image: url(/assests/Rectangle\ 2\ \(1\).png);
    width: 61px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-shopping-logo :hover {
    opacity: 0.6;
}

.shopping-button {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.shopping-button button {
    border: 2px solid rgba(255, 0, 0, 1);
    width: 184px;
    height: 60px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
    font-family: var(--inter-font-family--);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

.shopping-button button:hover {
    opacity: 0.6;
}

.menu_text {
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter-font-family--);
    font-size: 150px;
    transform: rotate(270deg);
    position: absolute;
    left: 970px;
    top: 1550px;
    opacity: 5%;
}

.second-menu {
    display: flex;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.first-block {
    width: 33.3%;
    position: relative;
}

.second-block {
    width: 33.3%;
    position: relative;
}

.third-block {
    width: 33.3%;
    position: relative;
}

.first-block img {
    width: 100%;
}

.second-block img {
    width: 100%;
}

.third-block img {
    width: 100%;
}

.first-block-text {
    position: absolute;
    bottom: 100px;
    left: 25px;
}

.second-block-text {
    position: absolute;
    bottom: 100px;
    left: 25px;
}

.third-block-text {
    position: absolute;
    bottom: 100px;
    left: 25px;
}

.second-menu h1 {
    color: rgba(255, 255, 255, 1);
    font-family: var(--inter-font-family--);
    font-size: 40px;
}

.second-menu button {
    width: 200px;
    height: 60px;
    border-radius: 20px;
    color: rgba(255, 0, 0, 1);
    font-family: var(--inter-font-family--);
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.second-menu button:hover {
    opacity: 0.6;
}


/* --------------------------advertisement section-------------------------- */

.advertisement-section {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.advertisement-text{
    width: 70%;
    padding-left: 220px;
}

.advertisement-text h1 {
    color: rgba(70, 68, 68, 1);
    font-family: var(--inter-font-family--);
    font-size: 75px;
    text-align: center;
    margin-bottom: 40px;
}

.advertisement-text p {
    color: rgba(169, 165, 165, 1);
    font-family: var(--inter-font-family--);
    font-size: 30px;
    text-align: center;
}

.social-text{
    transform: rotate(270deg);
    color: rgba(0, 0, 0, 1);
    font-family: var(--inter-font-family--);
    font-size: 150px;
    opacity: 5%;
    margin-bottom: 100px;
}

.advertisement-photo{
    display: flex;
    gap: 50px;
    padding-right: 70px;
    padding-top: 50px;
}

.advertisement-photo img{
    width: 310px;
    height: 310px;
}

.first-img{
    position: relative;
}

.second-img{
    position: relative;
}

.third-img{
    position: relative;
}

.profile{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 2px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.profile img{
    width: 100%;
    height: 100%;
}